.jp-Launcher-CardGroup {
  justify-content: center;
}

.jp-CollapsibleSection {
  --jp-animation-depth: 10px;
  --jp-animation-time: 150ms;
  --jp-title-height: 24px;

  padding: var(--jp-animation-depth);
  padding-left: 0;
  padding-right: 0;
}

.jp-Launcher-cwd > h3 {
  font-size: var(--jp-ui-font-size1);
  margin: 0;
}

.jp-NewLauncher-OtherItems .jp-LauncherCard-label {
  display: none;
}

.jp-NewLauncher-OtherItems .jp-Launcher-TypeCard {
  width: unset;
  min-height: unset;
  flex-direction: row;
  margin: 0;
  box-shadow: none;
  border-color: var(--jp-border-color0);
}

.jp-NewLauncher-OtherItems .jp-LauncherCard-icon {
  height: 24px;
}

.jp-NewLauncher-OtherItems .jp-Launcher-TypeCard > .jp-LauncherCard-icon svg {
  width: 16px;
  height: 16px;
}

.jp-NewLauncher-TopBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.jp-Launcher-searchBox input {
  box-shadow: none;
  border: var(--jp-border-width) solid var(--jp-border-color1);
}

.jp-CollapsibleSection > summary {
  cursor: pointer;
  transition: margin var(--jp-animation-time) ease-out;
  list-style: none;
  display: inline-block; /* contain the clickable area */
  padding-right: 12px; /* but extend it a little */
  min-width: 185px;
}

.jp-CollapsibleSection > summary:hover {
  background-color: var(--jp-layout-color2);
}

.jp-CollapsibleSection[open] > summary {
  margin-bottom: var(--jp-animation-depth);
}

.jp-CollapsibleSection-CollapserIcon > svg {
  transition: transform var(--jp-animation-time) ease-out;
  width: var(--jp-title-height);
  height: var(--jp-title-height);
}

.jp-CollapsibleSection[open] .jp-CollapsibleSection-CollapserIcon > svg {
  transform: rotate(90deg);
}

.jp-CollapsibleSection-CollapserIconWrapper {
  display: inline-block;
}

.jp-CollapsibleSection-CategoryIcon > svg {
  width: 24px;
  height: 24px;
  margin-left: 4px;
  margin-right: 8px;
}

.jp-CollapsibleSection-Title {
  display: inline-block;
  line-height: var(--jp-title-height);
  vertical-align: top;
  margin: 0;
  user-select: none;
  font-weight: normal;
}

.jp-LauncherBody {
  padding: 0 24px;
  height: 100%;
  overflow-y: auto;
}

.jp-NewLauncher-table {
  --jp-icon-size: 16px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.jp-NewLauncher-table .jp-sortable-table {
  border: var(--jp-border-width) solid var(--jp-border-color2);
  border-top: 0;
}

.jp-NewLauncher-table .jp-Launcher-kernelIcon {
  width: var(--jp-icon-size);
  height: var(--jp-icon-size);
}

.jp-NewLauncher-table .jp-LauncherCard-noKernelIcon {
  font-size: var(--jp-icon-size);
}

.jp-NewLauncher-table .jp-LauncherCard-icon {
  height: var(--jp-icon-size);
}

.jp-NewLauncher-table th[data-id='icon'],
.jp-NewLauncher-table th[data-id='star'] {
  width: var(--jp-icon-size);
}

.jp-NewLauncher-table .jp-starIcon {
  width: var(--jp-icon-size);
  height: var(--jp-icon-size);
}

.jp-NewLauncher-table-scroller {
  overflow: auto;
  margin-top: 4px;
}

.jp-starIconButton {
  --jp-transition-transform: rotate(72deg);

  border: 0;
  margin: 0;
  padding: 0 6px;
  background: transparent;
  cursor: pointer;
}

.jp-starIcon .jp-star-filled {
  opacity: 0;
}

.jp-starIcon .jp-star-filled,
.jp-starIcon .jp-star-border {
  transition-property: opacity, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transform-origin: center;
}

.jp-starIconButton.jp-mod-starred .jp-star-filled {
  opacity: 1;
  transform: var(--jp-transition-transform);
}

.jp-starIconButton.jp-mod-starred .jp-star-border {
  opacity: 0;
  transform: var(--jp-transition-transform);
}

.jp-KernelSelector-Dialog > .jp-Dialog-content {
  max-height: 80%;
  max-width: unset;
}

.jp-KernelSelector-Dialog > .jp-Dialog-content > .jp-Dialog-header {
  display: none;
}

.jp-KernelSelector-SelectButton {
  display: none;
}

.jp-KernelSelector-Dialog .jp-NewLauncher-table {
  margin-bottom: 8px;
}

.jp-KernelSelector-Section {
  margin: 0;
  margin-bottom: 4px;
}

/* Styles for scenario where full row is clickable  */

.jp-NewLauncher-table tr {
  cursor: pointer;
}

.jp-Launcher-TypeCard {
  user-select: none;
}

.jp-Launcher-TypeCard > .jp-LauncherCard-icon svg {
  align-items: center;
  display: flex;
  height: 52px;
  width: 52px;
}
